!!!
%html
%head
  %title HiveMind
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
.container
  %nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "#"} HiveMind
      #navbar.navbar-collapse.collapse
        %ul.nav.navbar-nav
          %li= link_to "Intake", root_path
          %li= link_to "Charges", root_path
          %li= link_to "Coding", root_path
          %li= link_to "Payments", root_path
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Lists
              %span.caret
            %ul.dropdown-menu
              %li= link_to "Clients", clients_path
              %li= link_to "Projects", root_path
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{:href => "../navbar-static-top/"} Info
  %br
  =yield